#all-tasks {
  height: 100%;
  overflow:auto;
  .header {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg/1920px-Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg);
    background-repeat: no-repeat;
    width: 100%;
    // height: 300px;
    background-size: cover;
    color: $white;
    .top{
      background: rgba(58, 71, 147, .6);
      padding: 35px 15px;
      text-align: right;
      position: relative;
      .logo{
        font-family: 'Roboto', cursive;
        font-size: 36px;
        float: left;
      }
      .tasks-total {
        position: relative;
        top: -20px;
        .task {
          display: inline-block;
        .number{
          color: $yellow;
          font-weight: 100;
          font-size: 60px;
          margin: 0 20px 0 0;
          position: relative;
          top: 15px;
        }
      }
    }
    .add-circle{
      // background: $white;
      // border-radius: 50%;
      // position: absolute;
      // right: 0;
      // padding: 10px 12px;
      .fa{
        color: $lightblue;
        font-size: 50px;
      }
    }
  }

}

.content-area {
  width: 100%;
  height: 90%;
  overflow: auto;
  .container {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    .tasks-container{
      margin: 40px 0;
    .task-box{
      padding: 20px;
      border-bottom: 2px solid #D1D1D1;
      margin: 0 0 20px 0;
      background: white;
      .title{
    }
   }
  }
 }
}

.date {
  color: red;
  font-size: 1em;
}
// .container {
//   display: inline-block;
//   max-width: 1200px;
//   margin: 0 auto;
//   background: green;
// }

.task-form{
  background: $darkblue;
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
  color: $white;
  padding: 50px 0;
  transform:translate(0, 100%);
  transition: all .6s ease-in-out;
  &.active{
    display: block;
    transform:translate(0, 0);
  }
  .close-btn{
    position: absolute;
    top: 50px;
    right: 35px;
    padding: 15px;
    cursor: pointer;
    .fa{
      font-size: 36px;
    }
  }
  form{
    display: block;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
  }
  h3{
    margin: 50px 0;
    font-size: 1.5em;
    text-align: center;
  }
  .form-group{
    margin-bottom: 20px;
  }
  label{
    font-family: 'Roboto',cursive;
    font-weight: 300;
    font-size: 1.5em;
    display: block;
    text-transform: capitalize;
    margin: 0 0 15px 0;
  }
  input[type="text"], textarea{
    width: 100%;
    font-family: 'Roboto',cursive;
    font-weight: 300;
    font-size: 1.5em;
    color: $white;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    &.focus{
      border: none;
      outline: none;
    }
  }
  textarea{
    height: 250px;
  }
  button{
    background: $lightblue;
    border: none;
    width: 100%;
    font-size: 1em;
    text-transform: uppercase;
    color: $white;
    padding: 15px 20px;
  }
}








.btn {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  margin: 15px 0px;
  &.lightblue {
    font-size: 25px;
    background: $lightblue;
  }
}
}

//Media Query Laptop/PC/Large Screen

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  #all-tasks {
    // background-color: blue;
  }
}

//Media Query Tablets

@media screen and (max-width: 1199px) {
  #all-tasks {
    // background-color: pink;
  }
}


//Media Query Phones

@media screen and (max-width: 767px) {
  #all-tasks  {
    .header {
      .top {
        .logo{
          float: none;
          text-align: center;
          margin: 0 0 15px 0;
        }
        .tasks-total{
          text-align: center;
          top: 0;
          .task {
            display: inline-block;
            .number {
              color: $yellow;
              font-weight: 500;
              font-size: 25px;
              margin: 0 10px 0 0;
              position: relative;
              top: 5px;
            }
          }
        }
      }
    }
 }
}
